---
title: Le Wagon - Middleman
---

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.leconomiste.com/sites/default/files/eco7/public/marina-casablanca-047.jpg');">
      <div class="banner-content">
        <h1>Le Wagon Casablanca</h1>
        <p>Learn to code with us in Casablanca</p>
        <a class="btn btn-primary btn-lg" id="start-btn">Start now</a>
      </div>
    </div>

<div class="container">
  <div class="row">
    <% data.cards.each do |card| %>
      <div class="col-xs-12 col-sm-4">
        <%= partial 'layouts/card', locals: { card: card } %>

      </div>
    <% end %>
  </div>
</div>




